Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

Load Dataset

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/hxchua/datadoubleconfirm/master/datasets/pokemon.csv', encoding='latin-1')

Summarize Dataset

In [3]:
df.head()

                       Name   HP  ...  Speed Percentile  Total Percentile
0    Mewtwo (Mega Mewtwo Y)  106  ...              98.7              99.7
1    Mewtwo (Mega Mewtwo X)  106  ...              97.7              99.7
2  Rayquaza (Mega Rayquaza)  105  ...              94.1              99.7
3    Kyogre (Primal Kyogre)  100  ...              72.9              99.4
4  Groudon (Primal Groudon)  100  ...              72.9              99.4

[5 rows x 15 columns]

In [4]:
df.shape

(800, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                800 non-null    object
 1   HP                  800 non-null    int64
 2   Attack              800 non-null    int64
 3   Defense             800 non-null    int64
 4   Sp Atk              800 non-null    int64
 5   Sp Def              800 non-null    int64
 6   Speed               800 non-null    int64
 7   Total               800 non-null    int64
 8   HP Percentile       800 non-null    float64
 9   Attack Percentile   800 non-null    float64
 10  Defense Percentile  800 non-null    float64
 11  Sp Atk Percentile   800 non-null    float64
 12  Sp Def Percentile   800 non-null    float64
 13  Speed Percentile    800 non-null    float64
 14  Total Percentile    800 non-null    float64
dtypes: float64(7), int64(7), object(1)
memory usage: 93.9+ KB

In [6]:
df.isnull().sum()

Name                  0
HP                    0
Attack                0
Defense               0
Sp Atk                0
Sp Def                0
Speed                 0
Total                 0
HP Percentile         0
Attack Percentile     0
Defense Percentile    0
Sp Atk Percentile     0
Sp Def Percentile     0
Speed Percentile      0
Total Percentile      0
dtype: int64

In [7]:
df.isnull().sum().sum()

0

In [8]:
df.tail()

          Name  HP  ...  Speed Percentile  Total Percentile
795     Weedle  40  ...              27.1               0.3
796    Wurmple  45  ...               1.7               0.3
797  Kricketot  37  ...               4.3               0.2
798    Azurill  50  ...               1.7               0.1
799    Sunkern  30  ...               6.5               0.0

[5 rows x 15 columns]

In [9]:
df.size

12000

In [13]:
df.columns

Index(['Name', 'HP', 'Attack', 'Defense', 'Sp Atk', 'Sp Def', 'Speed', 'Total',
       'HP Percentile', 'Attack Percentile', 'Defense Percentile',
       'Sp Atk Percentile', 'Sp Def Percentile', 'Speed Percentile',
       'Total Percentile'],
      dtype='object')

In [11]:
df.describe()

               HP      Attack  ...  Speed Percentile  Total Percentile
count  800.000000  800.000000  ...        800.000000        800.000000
mean    69.258750   79.001250  ...         48.618375         49.372250
std     25.534669   32.457366  ...         29.090247         28.706244
min      1.000000    5.000000  ...          0.000000          0.000000
25%     50.000000   55.000000  ...         22.000000         24.600000
50%     65.000000   75.000000  ...         46.800000         49.600000
75%     80.000000  100.000000  ...         72.900000         74.700000
max    255.000000  190.000000  ...        100.000000         99.700000

[8 rows x 14 columns]

Top 10 HP Pokemons

In [56]:
df.sort_values(["HP"], ascending=False).head(10)

                         Name   HP  ...  Speed Percentile  Total Percentile
128                   Blissey  255  ...              33.9              83.3
398                   Chansey  250  ...              27.1              49.6
478                 Wobbuffet  190  ...              11.6              38.5
237                   Wailord  170  ...              40.0              69.2
353                 Alomomola  165  ...              46.8              55.6
126                   Snorlax  160  ...               6.5              83.3
22   Giratina (Altered Forme)  150  ...              72.9              96.6
248                  Drifblim  150  ...              63.0              68.5
28                    Slaking  150  ...              82.9              96.1
21    Giratina (Origin Forme)  150  ...              72.9              96.6

[10 rows x 15 columns]

Top 10 Attackers

In [59]:
df.sort_values(["Attack"], ascending=False).head(10)

                           Name   HP  ...  Speed Percentile  Total Percentile
1        Mewtwo (Mega Mewtwo X)  106  ...              97.7              99.7
53   Heracross (Mega Heracross)   80  ...              59.8              89.4
64        Deoxys (Attack Forme)   50  ...              99.3              89.4
2      Rayquaza (Mega Rayquaza)  105  ...              94.1              99.7
4      Groudon (Primal Groudon)  100  ...              72.9              99.4
12        Kyurem (Black Kyurem)  125  ...              78.0              98.2
11     Garchomp (Mega Garchomp)  108  ...              77.4              98.2
260                   Rampardos   97  ...              38.7              66.5
44       Gallade (Mega Gallade)   68  ...              91.3              94.4
120      Banette (Mega Banette)   64  ...              59.8              84.9

[10 rows x 15 columns]

Top 10 Defenders

In [60]:
df.sort_values(["Defense"], ascending=False).head(10)

                       Name  HP  ...  Speed Percentile  Total Percentile
40     Aggron (Mega Aggron)  70  ...              27.1              94.9
47   Steelix (Mega Steelix)  75  ...               6.5              94.1
221                 Shuckle  20  ...               0.0              72.0
97                 Regirock  80  ...              27.1              85.9
206                 Steelix  75  ...               6.5              73.3
203                 Avalugg  95  ...               5.6              74.5
87   Slowbro (Mega Slowbro)  95  ...               6.5              88.8
162                Cloyster  50  ...              53.3              77.9
152                  Aggron  70  ...              27.1              80.3
261               Bastiodon  60  ...               6.5              66.5

[10 rows x 15 columns]

Top 10 Speedsters

In [61]:
df.sort_values(["Speed"], ascending=False).head(10)

                             Name   HP  ...  Speed Percentile  Total Percentile
62           Deoxys (Speed Forme)   50  ...             100.0              89.4
383                       Ninjask   61  ...              99.8              52.0
45   Aerodactyl (Mega Aerodactyl)   80  ...              99.3              94.3
64          Deoxys (Attack Forme)   50  ...              99.3              89.4
65          Deoxys (Normal Forme)   50  ...              99.3              89.4
86       Alakazam (Mega Alakazam)   55  ...              99.3              88.8
266                      Accelgor   80  ...              98.9              66.5
38       Sceptile (Mega Sceptile)   70  ...              98.9              94.9
253      Beedrill (Mega Beedrill)   65  ...              98.9              66.5
0          Mewtwo (Mega Mewtwo Y)  106  ...              98.7              99.7

[10 rows x 15 columns]

Top 10 Special Attackers

In [64]:
df.sort_values(["Sp Atk"], ascending=False).head(10)

                          Name   HP  ...  Speed Percentile  Total Percentile
0       Mewtwo (Mega Mewtwo Y)  106  ...              98.7              99.7
2     Rayquaza (Mega Rayquaza)  105  ...              94.1              99.7
3       Kyogre (Primal Kyogre)  100  ...              72.9              99.4
64       Deoxys (Attack Forme)   50  ...              99.3              89.4
86    Alakazam (Mega Alakazam)   55  ...              99.3              88.8
13       Kyurem (White Kyurem)  125  ...              78.0              98.2
48        Gengar (Mega Gengar)   60  ...              97.7              89.4
27       Hoopa (Hoopa Unbound)   80  ...              63.0              96.6
43  Gardevoir (Mega Gardevoir)   68  ...              82.9              94.4
46    Ampharos (Mega Ampharos)   90  ...              22.0              94.1

[10 rows x 15 columns]

Top Special Defenders

In [65]:
df.sort_values(["Sp Def"], ascending=False).head(10)

                       Name   HP  ...  Speed Percentile  Total Percentile
221                 Shuckle   20  ...               0.0              72.0
98                   Regice   80  ...              27.1              85.9
63   Deoxys (Defense Forme)   50  ...              72.9              89.4
3    Kyogre (Primal Kyogre)  100  ...              72.9              99.4
121                 Florges   78  ...              59.8              84.8
17                    Ho-oh  106  ...              72.9              96.6
16                    Lugia  106  ...              91.3              96.6
246                 Carbink   50  ...              27.1              69.2
80                   Goodra   90  ...              63.0              89.4
82                  Diancie   50  ...              27.1              89.4

[10 rows x 15 columns]

Top 10 Total Stats

In [66]:
df.sort_values(["Total"], ascending=False).head(10)

                        Name   HP  ...  Speed Percentile  Total Percentile
0     Mewtwo (Mega Mewtwo Y)  106  ...              98.7              99.7
2   Rayquaza (Mega Rayquaza)  105  ...              94.1              99.7
1     Mewtwo (Mega Mewtwo X)  106  ...              97.7              99.7
3     Kyogre (Primal Kyogre)  100  ...              72.9              99.4
4   Groudon (Primal Groudon)  100  ...              72.9              99.4
5                     Arceus  120  ...              95.8              99.3
10      Latios (Mega Latios)   80  ...              91.3              98.2
14    Diancie (Mega Diancie)   50  ...              91.3              98.2
13     Kyurem (White Kyurem)  125  ...              78.0              98.2
11  Garchomp (Mega Garchomp)  108  ...              77.4              98.2

[10 rows x 15 columns]